@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsl(184, 76%, 63%) 100%);
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --aurora-color-start: rgb(177, 22, 197);
    --aurora-color-end: rgb(255, 255, 255);    
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --aurora-color-start: rgba(151, 30, 87, 0.2);
    --aurora-color-end: rgba(41, 74, 50, 0.02);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  /* Aplica el degradado */
  z-index: 20;
}


.aurora {
  position: absolute;
  width: 200%;
  height: 100%;
  top: -50%;
  left: -50%;
  background: radial-gradient(circle,
      var(--aurora-color-start) 0%,
      var(--aurora-color-end) 60%);
  animation: aurora-animation 10s ease-in-out infinite alternate;
  filter: blur(100px);
  opacity: 0.8;
  z-index: 10;
}


.aurora:nth-child(2) {
  animation-duration: 12s;
  animation-delay: -3s;
  transform: rotate(30deg);
}

.aurora:nth-child(3) {
  animation-duration: 14s;
  animation-delay: -5s;
  transform: rotate(-30deg);
}

.aurora:nth-child(4) {
  width: 100%;
  height: 200%;
  top: -50%;
  right: -50%;
  background: radial-gradient(circle,
      rgba(228, 104, 104, 0.2) 0%,
      rgba(75, 56, 56, 0.02) 60%);
  animation: aurora-animation 15s ease-in-out infinite alternate;
}

@keyframes aurora-animation {
  0% {
    transform: translate(-30%, -30%) rotate(0deg);
  }

  25% {
    transform: translate(0%, -40%) rotate(30deg);
  }

  50% {
    transform: translate(20%, -20%) rotate(0deg);
  }

  75% {
    transform: translate(-10%, -30%) rotate(-30deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.4s ease;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    padding-left: 3rem;
}
.mainList {
    height: 65px;
}
.navlinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlinks li {
    padding-right: 3rem;
}
.navlinks li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}
.navlinks li a:hover {
    color: #00E676;
}
.navTrigger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    transition: 0.4s;
}
.navTrigger.active i:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
.navTrigger.active i:nth-child(2) {
    opacity: 0;
}
.navTrigger.active i:nth-child(3) {
    transform: translateY(-9px) rotate(135deg);
}
.affix {
    padding: 0;
    background-color: #111;
}
.showList {
    display: block;
}
@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .mainList {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .showList {
        height: auto;
    }
    .navlinks {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #111;
    }
    .navlinks li {
        text-align: center;
    }
    .navlinks li a {
        font-size: 3rem;
        padding: 20px;
    }
}
