@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* BASE THEME */
  --bg: #D1C48C;
  --text-color: #032b08;

  /* DARK THEME */
  --bg-dark: #5F2F86;
  --text-color-dark: #DBB004;

  --accent: #305C40;
  --muted: #04DB55;
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Roboto Slab', serif;
  --font-monospace: 'Fira Code', monospace;
  --font-barlow: 'Barlow', sans-serif;
}

@font-face {
  font-family: "Barlow";
  src: url("https://res.cloudinary.com/dsvsyrtoz/raw/upload/v1718846713/barlow_a5qh9p.woff2") format("woff2-variations");
  font-stretch: 300% 500%;
  font-weight: 22 188;
  font-style: normal;
}

@layer base {
  :root {
    background-color: var(--bg);
    color: var(--text-color);
    /* Asignado como texto principal */
    --card: var(--background);
    /* Asumiendo que las tarjetas usan el fondo principal */
    --card-foreground: var(--text-color);
    --popover: var(--background);
    /* Similar a las tarjetas */
    --popover-foreground: var(--text-color);
    --primary: var(--primary);
    --primary-foreground: var(--text-color);
    /* Texto dentro de elementos primarios */
    --secondary: var(--secondary);
    --secondary-foreground: var(--background);
    /* Fondo de texto secundario invertido */
    --muted: var(--muted);
    --muted-foreground: var(--text-color);
    --accent: var(--accent);
    --accent-foreground: var(--text-color);
    --destructive: hsl(0, 84.2%, 60.2%);
    /* Conservando valores específicos si no están en root */
    --destructive-foreground: var(--background);
    --border: var(--accent);
    /* Se puede ajustar si tienes un color específico para bordes */
    --input: var(--secondary);
    /* Basado en el color secundario */
    --ring: var(--primary);
    /* Usando el color principal */
    --radius: 0.5rem;
    --chart-1: var(--primary);
    /* Usando colores temáticos para gráficas */
    --chart-2: var(--secondary);
    --chart-3: var(--accent);
    --chart-4: var(--muted);
    --chart-5: var(--background);
    --aurora-color-start: var(--primary);
    --aurora-color-end: var(--background);
  }

  .dark {
    background-color: var(--bg-dark);
    color: var(--text-color-dark);
    --foreground: hsl(0, 0%, 98%);
    --card: hsl(0, 0%, 3.9%);
    --card-foreground: hsl(0, 0%, 98%);
    --popover: hsl(0, 0%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);
    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(0, 0%, 9%);
    --secondary: hsl(0, 0%, 14.9%);
    --secondary-foreground: hsl(0, 0%, 98%);
    --muted: hsl(0, 0%, 14.9%);
    --muted-foreground: hsl(0, 0%, 63.9%);
    --accent: hsl(0, 0%, 14.9%);
    --accent-foreground: hsl(0, 0%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 14.9%);
    --input: hsl(0, 0%, 14.9%);
    --ring: hsl(0, 0%, 83.1%);
    --chart-1: hsl(220, 70%, 50%);
    --chart-2: hsl(160, 60%, 45%);
    --chart-3: hsl(30, 80%, 55%);
    --chart-4: hsl(280, 65%, 60%);
    --chart-5: hsl(340, 75%, 55%);
    --aurora-color-start: rgba(151, 30, 87, 0.2);
    --aurora-color-end: rgba(41, 74, 50, 0.02);
  }
}


html,
*:before,
*:after {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  font-family: 'Barlow';
  line-height: 1.6;
  overflow-x: hidden;
  font-variation-settings: "wght" 100, "wdth" 300;
  font-size: 14px;
}

header p {
  font-size: 28px;
  font-variation-settings: "wght" 88, "wdth" 500;
  display: flex;
}

header p span {
  text-transform: none;
  font-size: 1.1em;
}


/* links */
a {
  pointer-events: all;
  background-color: var(--color);
  color: var(--background);
  align-items: center;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 ;
  transition: all 150ms ease;
  width: auto;
  max-width: 200px;
  font-variation-settings: "wght" 125, "wdth" 400;
  line-height: 1em;
}

